.idea/
code/notebooks/.ipynb_checkpoints
code/*.pyc
code/*pycache*
code/*/*.pyc
src/modules/.ipynb_checkpoints/
src/modules/__pycache__/
src/notebooks/.ipynb_checkpoints/
src/*/*.pyc
defmodel/__init__.pyc
modules/__init__.pyc
modules/configfile.pyc
modules/training_helpers.pyc
../environment_cedar.yml
curr_run.txt
src/run_job.sh
src/submit_job.sh
src/slurm*
src/.ipynb_checkpoints/
src/graph/
